.aktuelles-section {
   padding: var(--space-md);
    overflow: hidden;
}

.aktuelles-container {
    color: var(--color-primary);
    margin-bottom: var(--space-md);

}


.notdienst-card {
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    padding: var(--space-md);

}

.notdienst-card h3 {

}

.notdienst-card p {
    margin-bottom: var(--space-md);
}

.notdienst-card a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: color var(--transition-speed) ease;
}

.notdienst-card a:hover {
    color: var(--color-primary);
}

/* Telefon-Links speziell stylen */
.notdienst-card a[href^="tel:"] {
    font-weight: 500;
}
