@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/poppins/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/poppins/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Inter";
    src: url("../assets/fonts/inter/Inter_24pt-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}