/* ========== FOOTER ========== */
footer {
    background-color: rgba(51, 51, 51, 0.24);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.95rem;
}

footer a {

    text-decoration: none;
    margin: 0 8px;
}

footer a:hover {
    text-decoration: underline;
}

