@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
        align-items: center;
    }

    .nav-links {
        display: block !important;
        position: static;
        transform: none;
        opacity: 1;
        pointer-events: auto;
        padding: 0;
        width: auto;
        border-top: none;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-left: auto;
        align-items: center;
        text-align: left;
    }

    .uebermich-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .uebermich-text {
        flex: 2;
        padding-left: 2rem;
    }

    .uebermich-bild {
        flex: 1;
    }
}
